.text-header {
  font-weight: bold;
}

.text {
  padding: 10px;
  border: 1px solid #CCC;
  margin: 10px;
}

.counts {
  text-align: right;
  padding: 5px;
  font-size: 80%;
}

.id {
  text-align: right;
  padding: 5px;
  font-size: 80%;
}

.question-group {
  margin: 10px;
}

.label-heading {
  font-weight: bold;
}

.errorMessage {
  font-weight: bold;
  padding: 10px;
  border: 1px solid #FCC;
  margin: 10px;
  color: #933;
  display: flex;
  justify-content: space-around;
  align-items: top;
}
