.demo-tab-group {
  border: 1px solid #e8e8e8;
}

.demo-tab-content {
  padding: 16px;
}

.text-header {
  font-weight: bold;
}

.text {
  padding: 10px;
  border: 1px solid #CCC;
  margin: 10px;
}

.counts {
  text-align: right;
  padding: 5px;
  font-size: 80%;
}

.id {
  text-align: right;
  padding: 5px;
  font-size: 80%;
}

.errorMessage {
  font-weight: bold;
  padding: 10px;
  border: 1px solid #FCC;
  margin: 10px;
  color: #933;
}

.questionWrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}

.identityQuestion {
}

.hatefulQuestion {
  padding: 10px;
}

.hateDetailQuestionOption {
  padding-left: 20px;
  padding-top: 5px;
  display: block;
}

.hateDetailQuestionHeader {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}
