.container {
  margin: 20px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.comparison {
  display: flex;
  align-items: center;
}

.text-header {
  font-weight: 500;
  text-align: center;
}

.text {
  padding: 10px;
  border: 1px solid #CCC;
  margin: 10px;
  display: inline-block;
  overflow: hidden;
  max-width: 300px;
  overflow-wrap: break-word;
}

.counts {
  text-align: right;
  padding: 5px;
  font-size: 80%;
}

.id {
  text-align: right;
  padding: 5px;
  font-size: 80%;
}

.question-group {
  margin: 10px;
  display: inline-block;
}

.label-heading {
  font-weight: bold;
}

.errorMessage {
  font-weight: bold;
  padding: 10px;
  border: 1px solid #FCC;
  margin: 10px;
  color: #933;
  display: flex;
  justify-content: space-around;
  align-items: top;
}

.example-list {
  width: 1600px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  height: 150px;
}

.example-box {
  padding: 20px 10px;
  border-right: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box.cdk-drag-disabled {
  background: #ccc;
  cursor: default;
}

.example-box.cdk-drag-disabled.outlier {
}

.example-box.toxicityOption {
  background: #fff;
}

.example-box.commentB {
  border: 2px solid;
}

.example-box.commentB.selected {
}

.example-box.selected.much_less_toxic {
  background: #4CAF50;
}
.example-box.selected.less_toxic {
  background: #81C784;
}
.example-box.selected.slightly_less_toxic {
  background: #C8E6C9;
}
.example-box.selected.about_the_same {
  background: #FFF9c4;
}
.example-box.selected.slightly_more_toxic {
  background: #FFCDD2;
}
.example-box.selected.more_toxic {
  background: #EF9A9A;
}
.example-box.selected.much_more_toxic {
  background: #E57373;
}

.itemLabel {
  font-weight: 500;
}

.experimentToggle {
  margin-bottom: 20px;
}

.description {
  margin-top: 20px;
  margin-bottom: 20px;
}

.inline-description {
  min-width: 100px;
  text-align: center;
}

.commentContainer {
  background: #ccc;
  width: 1600px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  height: 150px;
}

.commentA {
  border: 2px solid;
}

.commentB {
  width: 200px;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 14px;
  font-size: 14px;
}

.commentBox {
}

.mat-radio-button ~ .mat-radio-button {
  margin-top: 4px;
}

.radioGroup {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.yourRating {
  font-weight: 500;
}
