<div class="container">
  <h1>Comparative Toxicity Job</h1>

  <div class="counts" *ngIf="notEmbedded">
    <div>my worker id: {{userNonce}}</div>
    <div>local_sent_count: {{local_sent_count}}</div>
    <div>training_answer_count: {{training_answer_count}}</div>
    <div>user_mean_score: {{user_mean_score}}</div>
    <div>overall_job_answer_count: {{overall_job_answer_count}}</div>
    <div>overall_job_mean_score: {{overall_job_mean_score}}</div>
  </div>

  <div *ngIf="errorMessages.length > 0" class="errorMessage">
    <div>
      <div *ngFor="let errorMessage of errorMessages">{{errorMessage}}</div>
    </div>
    <button mat-icon-button color="warn" (click)="clearError()"><mat-icon>close</mat-icon></button>
  </div>

  <div *ngIf="!question">
    Loading...
  </div>

  <div *ngIf="question">
    <div class="id" *ngIf="notEmbedded">Question Id: <span>{{question.id}}</span></div>

    <div class="experimentToggle">
      <mat-slide-toggle labelPosition="before "[(ngModel)]="useRadioButtons">Use radio buttons</mat-slide-toggle>
    </div>

    <div *ngIf="useRadioButtons; else dragAndDrop">
      <div class="text-header">Comment A</div>
      <div class="text">{{question.comment_a}}</div>
      <div class="text-header">Comment B</div>
      <div class="text">{{question.comment_b}}</div>
      <div class="question-group">
        <div class="toxicity-selected-value">
          <span class="label-heading">How does comment A compare to comment B?</span>
        </div>
        <mat-radio-group class="radioGroup" [(ngModel)]="toxicityOption">
          <mat-radio-button *ngFor="let option of toxicityOptions" class="toxicity-radio-button" [value]="option">{{option}}</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <!-- TODO: Create separate components for these two UIs. -->
    <ng-template #dragAndDrop>
      <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box"
             *ngFor="let item of sample"
             [ngClass]="[
               'toxicityOption',
               item.selected ? 'selected' : '',
               item.label ? '' : getClassName(item.scaleInfo),
               item.label === 'commentB' ? 'commentB' : ''
             ]"
             cdkDrag [cdkDragDisabled]="true">
          <div class="commentBox">
            <div class="itemLabel">{{item.label}}</div>
            <div *ngIf="item.text; else scaleInfo">
              <div class="itemLabel">commentB</div>
              <div>{{item.text}}</div>
            </div>
            <ng-template #scaleInfo>
              <div>{{item.scaleInfo}}</div>
            </ng-template>
          </div>
        </div>
      </div>
      <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box"
             *ngFor="let item of toxicityScale"
             [ngClass]="{commentA: item.label === 'commentA'}"
             cdkDrag [cdkDragDisabled]="item.disabled">
          <div class="commentBox">
            <div class="itemLabel">{{item.label}}</div>
            <div>{{item.text}}</div></div>
        </div>
      </div>
    </ng-template>

    <div class="description">Comment A is {{getToxicityOption()}} than Comment B</div>

    <div>
      <button mat-raised-button color="primary" (click)="sendScoreToApi()">Submit</button>
    </div>

    <app-display-answers [clientJobKey]="clientJobKey"></app-display-answers>
  </div>
</div>
